$background-color: #fef7ec;
$accent-color: #2f3e2d;
$text-color: #000;
$secondary-text-color: #555;
$mainfont: "Barlow", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: $background-color;
  font-family: $mainfont;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  padding: 30px 0;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .left-section {
    color: $secondary-text-color;
    text-align: left;

    .logo {
      margin-bottom: 10px;
      align-self: flex-start;
      width: 170px;
    }

    .line {
      width: auto;
      height: 1px;
      background-color: $secondary-text-color;
      margin: 5px 0 15px;
    }

    .links {
      a {
        display: block;
        text-decoration: none;
        color: $secondary-text-color;
        margin-bottom: 12px;

        &:hover {
          color: $secondary-text-color;
        }
      }
    }

    .info {
      p {
        line-height: 20px;
        letter-spacing: 1.2px;
        color: $secondary-text-color;
        padding-bottom: 10px;
      }
    }
  }

  .rectangle-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .accent-rectangle {
      background-color: $accent-color;
      width: 100%;
      height: 140px;
    }
  }
}

@media (min-width: 974px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;

    .left-section {
      margin-right: 20px;

      .logo {
        width: 250px;
      }
    }

    .rectangle-container {
      justify-content: right;
      margin-top: 0px;

      .accent-rectangle {
        height: 45vh;
        max-width: 300px;
        margin-left: 200px;
        min-height: 250px;
      }
    }
  }
}

@media (min-width: 1301px) {
  .container {
    width: 50%;
  }
}

p {
  font-size: 1rem;

  @media (max-width: 600px) {
    font-size: 0.9rem;
  }

  @media (min-width: 601px) and (max-width: 1000px) {
    font-size: 1rem;
  }

  @media (min-width: 1001px) and (max-width: 1400px) {
    font-size: 1.1rem;
  }

  @media (min-width: 1401px) {
    font-size: 1.2rem;
  }
}

a {
  font-size: 1rem;

  @media (max-width: 600px) {
    font-size: 1.1rem;
  }

  @media (min-width: 601px) and (max-width: 1000px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1001px) and (max-width: 1400px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1401px) {
    font-size: 1.5rem;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0px;
    }
  }

  i {
    @media (max-width: 600px) {
      font-size: 1.3rem;
    }

    @media (min-width: 601px) and (max-width: 1000px) {
      font-size: 1.4rem;
    }

    @media (min-width: 1001px) and (max-width: 1400px) {
      font-size: 1.6rem;
    }

    @media (min-width: 1401px) {
      font-size: 1.7rem;
    }
  }
}
