* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #fef7ec;
  font-family: "Barlow", sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper .wrapper-container {
  display: flex;
  max-width: 1200px;
  width: 85%;
  height: 80vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}
.wrapper .wrapper-container .section-1 {
  width: 100%;
}
.wrapper .wrapper-container .section-1 .section-container {
  display: flex;
  flex-direction: row;
}
.wrapper .wrapper-container .section-1 .section-container .left-side {
  color: #555;
  text-align: left;
  width: 50%;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .logo {
  margin-bottom: 10px;
  align-self: flex-start;
  width: 160px;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .line {
  width: auto;
  height: 1px;
  background-color: #555;
  margin: 5px 0 15px;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .links a {
  display: block;
  text-decoration: none;
  color: #555;
  margin-bottom: 12px;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .links a:hover {
  color: #555;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .info p {
  line-height: 20px;
  letter-spacing: 1.2px;
  color: #555;
  padding-bottom: 10px;
}
.wrapper .wrapper-container .section-1 .section-container .right-side {
  width: 50%;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage {
  position: relative;
  width: 100%;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage .collage-item {
  position: absolute;
  overflow: hidden;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage .collage-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
  width: 60px;
  height: auto;
  top: -20px;
  left: 90px;
  border: 3px solid #19432e;
  z-index: 1000;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
  width: 80px;
  height: auto;
  top: 40px;
  left: 40px;
  border: 2px solid #19432e;
  z-index: 900;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
  width: 70px;
  height: auto;
  top: 100px;
  left: 100px;
  z-index: 800;
  border: 2px solid #19432e;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
  width: 70px;
  height: auto;
  top: 160px;
  left: 50px;
  border: 3px solid #19432e;
}
.wrapper .wrapper-container .section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.wrapper .wrapper-container .section-2 .rectangle-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.wrapper .wrapper-container .section-2 .rectangle-container .accent-rectangle {
  background-color: #19432e;
  width: 100%;
  height: 140px;
  position: relative;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
  position: relative;
  top: -60px;
  width: 60%;
  margin-bottom: 10px;
  z-index: 2;
  width: 200px;
  border: 2px solid #fef7ec;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .drink-image {
  position: absolute;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .drink-image-1 {
  top: 200px;
  left: 25%;
  z-index: 1;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .drink-image-2 {
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .drink-image-3 {
  top: 200px;
  right: 25%;
  z-index: 1;
}

@media (min-width: 1301px) {
  .container {
    width: 50%;
  }
}
p {
  font-size: 1rem;
}
@media (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  p {
    font-size: 1rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1401px) {
  p {
    font-size: 1.2rem;
  }
}

a {
  font-size: 1rem;
}
@media (max-width: 600px) {
  a {
    font-size: 1.1rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1401px) {
  a {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  a:last-child {
    padding-bottom: 0px;
  }
}
@media (max-width: 600px) {
  a i {
    font-size: 1.3rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  a i {
    font-size: 1.4rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  a i {
    font-size: 1.6rem;
  }
}
@media (min-width: 1401px) {
  a i {
    font-size: 1.7rem;
  }
}