* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #fef7ec;
  font-family: "Barlow", sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  padding: 30px 0;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container .left-section {
  color: #555;
  text-align: left;
}
.container .left-section .logo {
  margin-bottom: 10px;
  align-self: flex-start;
  width: 170px;
}
.container .left-section .line {
  width: auto;
  height: 1px;
  background-color: #555;
  margin: 5px 0 15px;
}
.container .left-section .links a {
  display: block;
  text-decoration: none;
  color: #555;
  margin-bottom: 12px;
}
.container .left-section .links a:hover {
  color: #555;
}
.container .left-section .info p {
  line-height: 20px;
  letter-spacing: 1.2px;
  color: #555;
  padding-bottom: 10px;
}
.container .rectangle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container .rectangle-container .accent-rectangle {
  background-color: #2f3e2d;
  width: 100%;
  height: 140px;
}

@media (min-width: 974px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
  }
  .container .left-section {
    margin-right: 20px;
  }
  .container .left-section .logo {
    width: 250px;
  }
  .container .rectangle-container {
    justify-content: right;
    margin-top: 0px;
  }
  .container .rectangle-container .accent-rectangle {
    height: 45vh;
    max-width: 300px;
    margin-left: 200px;
    min-height: 250px;
  }
}
@media (min-width: 1301px) {
  .container {
    width: 50%;
  }
}
p {
  font-size: 1rem;
}
@media (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  p {
    font-size: 1rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1401px) {
  p {
    font-size: 1.2rem;
  }
}

a {
  font-size: 1rem;
}
@media (max-width: 600px) {
  a {
    font-size: 1.1rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1401px) {
  a {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  a:last-child {
    padding-bottom: 0px;
  }
}
@media (max-width: 600px) {
  a i {
    font-size: 1.3rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  a i {
    font-size: 1.4rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  a i {
    font-size: 1.6rem;
  }
}
@media (min-width: 1401px) {
  a i {
    font-size: 1.7rem;
  }
}