* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #fef7ec;
  font-family: "Barlow", sans-serif;
  min-width: 350px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper .wrapper-container {
  display: flex;
  max-width: 1200px;
  width: 85%;
  height: 80vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container {
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container {
    margin-top: 10px;
  }
}
.wrapper .wrapper-container .section-1 {
  width: 100%;
}
.wrapper .wrapper-container .section-1 .section-container {
  display: flex;
  flex-direction: row;
}
.wrapper .wrapper-container .section-1 .section-container .left-side {
  color: #555;
  text-align: left;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .logo {
  margin-bottom: 10px;
  align-self: flex-start;
  width: 250px;
}
@media (max-width: 600px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .logo {
    width: 180px;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .logo {
    width: 200px;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .logo {
    width: 220px;
  }
}
@media (min-width: 1401px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .logo {
    width: 250px;
  }
}
.wrapper .wrapper-container .section-1 .section-container .left-side .line {
  width: auto;
  height: 1px;
  background-color: #555;
  margin: 5px 0 15px;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .links a {
  display: block;
  text-decoration: none;
  color: #555;
  margin-bottom: 12px;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a {
    font-size: 1.1rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1401px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a:last-child {
    padding-bottom: 0px;
  }
}
.wrapper .wrapper-container .section-1 .section-container .left-side .links a:hover {
  color: #555;
}
.wrapper .wrapper-container .section-1 .section-container .left-side .links a i {
  font-size: 1.3rem;
}
@media (min-width: 601px) and (max-width: 1000px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a i {
    font-size: 1.4rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a i {
    font-size: 1.6rem;
  }
}
@media (min-width: 1401px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .links a i {
    font-size: 1.7rem;
  }
}
.wrapper .wrapper-container .section-1 .section-container .left-side .info p {
  line-height: 20px;
  letter-spacing: 1.2px;
  color: #555;
  padding-bottom: 10px;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .info p {
    font-size: 0.9rem;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .info p {
    font-size: 1rem;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .info p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1401px) {
  .wrapper .wrapper-container .section-1 .section-container .left-side .info p {
    font-size: 1.2rem;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side {
  width: 100%;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage {
  position: relative;
  width: 100%;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage .collage-item {
  position: absolute;
  overflow: hidden;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .photo-collage .collage-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
  width: 90px;
  height: auto;
  top: 90px;
  left: 38%;
  z-index: 1;
}
@media (max-width: 1100px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
    width: 90px;
    left: 20%;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
    width: 90px;
    height: auto;
    top: 50px;
    left: 55%;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
    width: 70px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(1) {
    width: 30px;
    height: auto;
    top: 90px;
    left: 47%;
    z-index: 1;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
  width: 100px;
  height: auto;
  top: 180px;
  left: 60%;
  z-index: 2;
}
@media (max-width: 1100px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
    width: 90px;
    left: 50%;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
    width: 120px;
    height: auto;
    top: 125px;
    left: 30%;
    z-index: 2;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
    width: 100px;
  }
}
@media (max-width: 640px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
    width: 80px;
    top: 155px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(2) {
    width: 33px;
    height: auto;
    top: 125px;
    left: 60%;
    z-index: 2;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
  width: 90px;
  height: auto;
  top: 150px;
  left: 100%;
  z-index: 4;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
    width: 70px;
    left: 95%;
  }
}
@media (max-width: 1100px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
    left: 80%;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
    width: 80px;
    height: auto;
    top: 70px;
    left: 40%;
    z-index: 4;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(3) {
    width: 40px;
    height: auto;
    top: 150px;
    left: 37%;
    z-index: 4;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
  width: 110px;
  height: auto;
  top: 45px;
  left: 75%;
  z-index: 3;
}
@media (max-width: 1100px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
    left: 70%;
    top: 30px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
    width: 120px;
    height: auto;
    top: 160px;
    left: 65%;
    z-index: 3;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
    width: 100px;
  }
}
@media (max-width: 640px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(4) {
    width: 45px;
    height: auto;
    top: 190px;
    left: 55%;
    z-index: 3;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
  width: 110px;
  height: auto;
  top: 290px;
  left: 120%;
  z-index: 3;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
    width: 90px;
    left: 130%;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
    width: 100px;
    height: auto;
    top: 265px;
    left: 52%;
    z-index: 3;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
    width: 80px;
  }
}
@media (max-width: 630px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
    width: 60px;
    top: 245px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(5) {
    width: 38px;
    height: auto;
    top: 265px;
    left: 20%;
    z-index: 3;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(6) {
  width: 90px;
  height: auto;
  top: 270px;
  left: 90%;
  z-index: 2;
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(6) {
    width: 100px;
    height: auto;
    top: 300px;
    left: 33%;
    z-index: 2;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(6) {
    width: 80px;
    left: 25%;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(6) {
    width: 55px;
    height: auto;
    top: 225px;
    left: 33%;
    z-index: 2;
  }
}
.wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
  width: 120px;
  height: auto;
  top: -20px;
  left: 120%;
  z-index: 1;
}
@media (max-width: 1100px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
    top: -40px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
    width: 110px;
    height: auto;
    top: 274px;
    left: 75%;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
    width: 80px;
  }
}
@media (max-width: 630px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
    width: 50px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-1 .section-container .right-side .collage-item:nth-child(7) {
    width: 42px;
    height: auto;
    top: 274px;
    left: 64%;
    z-index: 1;
  }
}
.wrapper .wrapper-container .section-2 {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 {
    margin-top: 95px;
    justify-content: center;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container {
  position: relative;
  width: 60%;
  height: 550px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container {
    align-items: center;
    width: 100%;
    height: 230px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container {
    height: 200px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .accent-rectangle {
  background-color: #19432e;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper .wrapper-container .section-2 .rectangle-container .overlay-rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #19432e;
  opacity: 0.5;
  pointer-events: none;
  z-index: 8888;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
  position: relative;
  top: 250px;
  right: 170px;
  width: 60%;
  margin-bottom: 10px;
  z-index: 10;
  width: 220px;
}
@media (max-width: 1200px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
    width: 200px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
    top: 20px;
    right: -90px;
    width: 60%;
    margin-bottom: 10px;
    z-index: 10;
    width: 200px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
    width: 150px;
    top: 50px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .group-image {
    top: -40px;
    right: -90px;
    width: 60%;
    margin-bottom: 10px;
    z-index: 2;
    width: 110px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image {
  position: absolute;
  width: 200px;
  top: -50px;
  right: -60px;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-1 {
  top: 110px;
  left: 5%;
  width: 120px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-1 {
    width: 100px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-1 {
    top: -10px;
    left: 40%;
    width: 70px;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-1 {
    width: 50px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-1 {
    top: -10px;
    left: 50%;
    width: 48px;
    z-index: 1;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-2 {
  top: 350px;
  left: 25%;
  z-index: 0;
  width: 110px;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-2 {
    width: 90px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-2 {
    top: 30px;
    left: 18%;
    z-index: 0;
    width: 110px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-2 {
    width: 90px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-2 {
    top: 30px;
    left: 32%;
    z-index: 0;
    width: 60px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-3 {
  top: 220px;
  right: 10%;
  z-index: 1;
  width: 130px;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-3 {
    top: 230px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-3 {
    top: 120px;
    right: 50%;
    z-index: 1;
    width: 70px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-3 {
    width: 50px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-3 {
    top: 60px;
    right: 20%;
    z-index: 1;
    width: 60px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-4 {
  top: 60px;
  left: 35%;
  z-index: 2;
  width: 90px;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-4 {
    width: 70px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-4 {
    top: 80px;
    left: 30%;
    z-index: 1;
    width: 80px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-4 {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-4 {
    top: 95px;
    left: 45%;
    z-index: 1;
    width: 50px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-5 {
  top: 35px;
  right: 8%;
  z-index: 1;
  width: 140px;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-5 {
    width: 100px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-5 {
    top: 10px;
    right: 8%;
    z-index: 1;
    width: 150px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-5 {
    width: 130px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-5 {
    top: 35px;
    right: 8%;
    z-index: 1;
    width: 50px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
  top: 130px;
  left: 55%;
  z-index: 2;
  width: 150px;
}
@media (max-width: 1315px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    left: 50%;
  }
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    width: 120px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    top: 130px;
    left: 70%;
    z-index: 0;
    width: 150px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    width: 130px;
  }
}
@media (max-width: 530px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    width: 110px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-6 {
    top: 130px;
    left: 65%;
    z-index: 0;
    width: 100px;
  }
}
.wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-7 {
  top: 220px;
  left: 32%;
  z-index: 1;
  width: 90px;
}
@media (max-width: 1280px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-7 {
    width: 70px;
  }
}
@media (max-width: 1015px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-7 {
    top: 120px;
    left: 10%;
    z-index: 2;
    width: 80px;
  }
}
@media (max-width: 800px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-7 {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-container .section-2 .rectangle-container .image-container .food-image-7 {
    top: 120px;
    left: 22%;
    z-index: 2;
    width: 50px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.popup img {
  max-width: 90%;
  max-height: 80%;
}
.popup .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}